$mycolor: white;

.button .Wrapper-Button {
  margin-top: 30px;
  padding: 2% 15%;
  display: inline-block;
  font-size: 130%;
  background-color: $mycolor;
  color: rgb(11, 160, 128);
  box-shadow: 1px 1px 10px black;
}

button.secondary {
  margin-top: 30px;
  padding: 2% 15%;
  border: transparent;
  font-size: 130%;
  background-color: transparent;
  color: white;
}
button.button.options {
  padding: 15px;
  margin-bottom: 6px;
  margin-left: 8px;
 
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}
button.button.options:focus {
  background-color: gray;
  color: white;
  outline: none;
}
button.button.add-button {
  padding: 10px;
  margin: 17px;
  border-radius: 10px;
  width: 130px;
  background-color: white;
  border: 2px solid black;
  outline: none;
  height: 50px;
  font-size: 16px;
}
button.button.add-button:focus {
  background-color: rgb(59, 161, 131);
  color: white;
  border: transparent;
  outline: none;
}

button.button.cancel-button {
  padding: 10px;
  margin: 17px;
  border-radius: 10px;
  width: 130px;
  background-color: white;
  border: 2px solid black;
  outline: none;
  height: 50px;
  font-size: 16px;
}
button.button.cancel-button:focus {
  background-color: rgb(59, 161, 131);
  color: white;
  border: transparent;
  outline: none;
}