body {
  margin: 0;
  font: D-DIN-Medium,Arial,Verdana,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}

code {
  font: D-DIN-Medium,Arial,Verdana,sans-serif;
  color:white;
}
